

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.ubs {
	height: 500px;
}
.ubs .canvas {
	height: 100%;
}

.platforms {
	height: 500px;
}

.platforms .canvas{
	width: 100%;
	height: 100%;
}








