

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.ubs {
	height: 350px;
}
.ubs .canvas {
	height: 100%;
}

.platforms {
	height: 350px;
}

.platforms .canvas{
	width: 100%;
	height: 100%;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 15px;
}

.searches .google-visualization-table-tr-head {
	display:none;

}








